---
    BasedOnStyle: WebKit
    IndentWidth: 4
    SortIncludes: false
    AlignConsecutiveAssignments: 'true'
    BreakConstructorInitializers: AfterColon
    AllowShortBlocksOnASingleLine: 'true'
    BreakBeforeBraces: Allman
    
    BraceWrapping:
    {
        AfterClass:             'true'
        AfterControlStatement:  'true'
        AfterEnum:              'true'
        AfterFunction:          'true'
        AfterNamespace:         'true'
        AfterObjCDeclaration:   'true'
        AfterStruct:            'true'
        AfterUnion:             'true'
        BeforeCatch:            'true'
        BeforeElse:             'true'
        IndentBraces:           'true'
        SplitEmptyFunction:     'true'
        SplitEmptyRecord:       'true'
        SplitEmptyNamespace:    'true'
    }

...
